body { 
    font-family:Impact, Haettenschweiler,Raleway, 'Arial Narrow Bold', sans-serif ;
}

/*navigation*/

header
    nav
{
    
    text-align: top;
    text-align: right;
    float: top;

}
header
nav ul
{
    list-style-type: none;
}
header
nav li
{
    display: inline-block;
    margin-top: 15px;
}

nav
ul li
{
    list-style-type: none;
    display: inline-block;
    margin-right : 15p
}
